 <div class="user-details">
  <h1> My Background </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-c-plain colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-swift-plain colored"></i>
      <p>I've worked with C/C++ in robotics, Swift to develop iOS apps, and Java through Eclipse for 
       general-purpose projects and competitive programming.</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-visualstudio-plain colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <p>I've used ODROIDs, Raspberry Pis, and Arduinos to operate several robot builds. 
       In a Linux shell, I use Vim to edit files and Git for file management.</p>
    </div>
</div>
