<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="beacon_demo" src="{{ "/assets/img/beacon.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Beacon: Democratized Disaster Response </h3>
    <ul>
      <li> iOS, Swift, Xcode</li>
    </ul>
    <p>Beacon is a location-tracking app that organizes local rescue operations during and after natural disasters. Inspired by personal experiences in the aftermath of Hurricane Harvey, Beacon coordinates communications between both rescuers and victims, who can display their status and other emergency notifications as necessary. </p>
    <a class="project-link" href="https://devpost.com/software/beacon-y9xn76">Check it out</a>
  </div>
</div>
