<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="ukulelebot" src="{{ "/assets/img/ukulelebot.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> UkuleleBot </h3>
    <ul>
      <li> Built with C/C++, Arduino, Autodesk Inventor</li>
    </ul>
    <p>UkuleleBot is a robot that can play a ukulele by itself. I took part in design and construction of its 3D-printed frame, as well as programming its linear actuators and servos. </p>
    <p>UkuleleBot was constructed as a project within the RobOrchestra group of Carnegie Mellon's RoboClub. </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="moonranger_pic" src="{{ "/assets/img/update_moonranger.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> MoonRanger </h3>
    <ul>
      <li> Worked with ROS and Docker </li>
    </ul>
    <p>MoonRanger is Carnegie Mellon's autonomous ice-finding moon rover mission, scheduled for launch in 2022. </p>
    <p>As a navigation programmer and software documentation lead, I researched path planning methods, memory radiation-hardening techniques, and CI/CD workflow concepts. </p>
    <a class="project-link" href="https://stevenwu2019.github.io/MoonRangerPosterFinal.pdf">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="beacon_demo" src="{{ "/assets/img/new_beacon_demo.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Beacon: Democratized Disaster Response </h3>
    <ul>
      <li> Built with iOS, Swift, Xcode</li>
    </ul>
    <p>Beacon is a location-tracking app that organizes local rescue operations during and after natural disasters. Inspired by personal experiences in the aftermath of Hurricane Harvey, Beacon coordinates communications between both rescuers and victims, who can display their status and other emergency notifications as necessary. </p>
    <p>Beacon was designed and built in Fall 2019 at PennApps XX, a hackathon at the University of Pennsylvania. </p>
    <a class="project-link" href="https://devpost.com/software/beacon-y9xn76">Check it out</a>
  </div>
</div>
